interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://prepaid.dhl.com.mx/Prepago/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE html PUBLIC \"\
        -//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        \ >\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE8\" />\n        <title>Login\
        \ / Admin\n        </title>\n        <link class=\"component\" href=\"/Prepago/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/basic_both.xcss/DATB/eAGbUnaFO3T5DGkAEaUDmQ__.xhtml\"\
        \ rel=\"stylesheet\" type=\"text/css\" /><link class=\"component\" href=\"\
        /Prepago/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/extended_both.xcss/DATB/eAGbUnaFO3T5DGkAEaUDmQ__.xhtml\"\
        \ media=\"rich-extended-skinning\" rel=\"stylesheet\" type=\"text/css\" /><script\
        \ src=\"/Prepago/a4j/g/3_3_3.Finalorg.ajax4jsf.javascript.AjaxScript.xhtml\"\
        \ type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg.ajax4jsf.javascript.PrototypeScript.xhtml\"\
        \ type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/utils.js.xhtml\"\
        \ type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/browser_info.js.xhtml\"\
        \ type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/modalPanel.js[...]
- request:
    body: AJAXREQUEST=%5B%27_viewRoot%27%5D&j_id6=%5B%27j_id6%27%5D&j_id6%3Aj_id20=%5B%27USERNAME%27%5D&j_id6%3Aj_id22=%5B%27PASSWORD%27%5D&javax.faces.ViewState=%5B%27j_id1%27%5D&j_id6%3Aj_id29=%5B%27j_id6%3Aj_id29%27%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/login/login.xhtml
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <html xmlns="http://www.w3.org/1999/xhtml"><head><meta name="Ajax-Response"
        content="redirect" /><meta name="Location" content="/Prepago/jsp/app/inicio/inicio.xhtml"
        /></head></html>'
    headers:
      Ajax-Response:
      - redirect
      Content-Type:
      - text/xml;charset=UTF-8
      Location:
      - /Prepago/jsp/app/inicio/inicio.xhtml
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/inicio/inicio.xhtml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE html PUBLIC \"\
        -//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        \ >\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE8\" />\n        <[...]
- request:
    body: j_id9=j_id9&j_id9%3Aj_id16=j_id9%3Aj_id16&javax.faces.ViewState=j_id2&j_id9%3Aj_id10=j_id9%3Aj_id14
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/inicio/inicio.xhtml
  response:
    body:
      string: ''
    headers:
      Location:
      - http://prepaid.dhl.com.mx/Prepago/jsp/app/cliente/impresionClienteSubUsuario.xhtml
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: http://prepaid.dhl.com.mx/Prepago/jsp/app/cliente/impresionClienteSubUsuario.xhtml
  response:
    body:
      string: ''
    headers:
      Location:
      - https://prepaid.dhl.com.mx/Prepago/jsp/app/cliente/impresionClienteSubUsuario.xhtml
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/cliente/impresionClienteSubUsuario.xhtml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE html PUBLIC \"\
        -//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        \ >\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=Emulat[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/cliente/capturaDatosImpresionClienteSU.xhtml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE html PUBLIC \"\
        -//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"\
        \ >\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=Em[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://prepaid.dhl.com.mx/Prepago/jsp/app/login/login.xhtml
  response:
    body:
      string: ''
    headers:
      Location:
      - https://prepaid.dhl.com.mx/Prepago/jsp/app/login/login.xhtml
    status:
      code: 302
      message: Found
[...]
