interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://prepaid.dhl.com.mx/Prepago/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE html PUBLIC \"-//W3C//DTD
        XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"
        >\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE8\" />\n        <title>Login
        / Admin\n        </title>\n        <link class=\"component\" href=\"/Prepago/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/basic_both.xcss/DATB/eAGbUnaFO3T5DGkAEaUDmQ__.xhtml\"
        rel=\"stylesheet\" type=\"text/css\" /><link class=\"component\" href=\"/Prepago/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/extended_both.xcss/DATB/eAGbUnaFO3T5DGkAEaUDmQ__.xhtml\"
        media=\"rich-extended-skinning\" rel=\"stylesheet\" type=\"text/css\" /><script
        src=\"/Prepago/a4j/g/3_3_3.Finalorg.ajax4jsf.javascript.AjaxScript.xhtml\"
        type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg.ajax4jsf.javascript.PrototypeScript.xhtml\"
        type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/utils.js.xhtml\"
        type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/browser_info.js.xhtml\"
        type=\"text/javascript\"></script><script src=\"/Prepago/a4j/g/3_3_3.Finalorg/richfaces/renderkit/html/scripts/modalPanel.js.xhtml\"
[...]
- request:
    body: AJAXREQUEST=%5B%27_viewRoot%27%5D&j_id6=%5B%27j_id6%27%5D&j_id6%3Aj_id20=%5B%27USERNAME%27%5D&j_id6%3Aj_id22=%5B%27PASSWORD%27%5D&javax.faces.ViewState=%5B%27j_id1%27%5D&j_id6%3Aj_id29=%5B%27j_id6%3Aj_id29%27%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/login/login.xhtml
  response:
    body:
      string: "<?xml version=\"1.0\"?>\r\n<html lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\"><head><title></title><link
        class=\"component\" href=\"/Prepago/a4j/s/3_3_3.Finalorg/richfaces/renderkit/html/css/basic_both.xcss/DATB/eAGbUnaFO3T5DGkAEaUDmQ__.xhtml\"
        rel=\"stylesheet\" type=\"text/css\" /><link class=\"component\" h[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://prepaid.dhl.com.mx/Prepago/jsp/app/inicio/inicio.xhtml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE html PUBLIC \"-//W3C//DTD
        XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"
        >\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE8\" />\n        <title>Lo[...]
